
@mixin QuicksandH1() {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.025em;
  color: $darkShade100;
}
@mixin QuicksandH2() {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: $darkShade100;
}
@mixin MonserratH3() {
  font-family: 'Monserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  text-transform: uppercase;
  color: $darkShade100;
}
@mixin MonserratSpan() {
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: $darkShade75;
  white-space: normal;
}
