@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade5: rgba(31, 32, 65, 0.05);
$green: #6FCF97;
$purple: #BC9CFF;
$primaryGradient: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);

@mixin QuicksandH1() {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.025em;
  color: $darkShade100;
}
@mixin QuicksandH2() {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: $darkShade100;
}
@mixin MonserratH3() {
  font-family: 'Monserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  text-transform: uppercase;
  color: $darkShade100;
}
@mixin MonserratSpan() {
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: $darkShade75;
  white-space: normal;
}

h1 {
  @include QuicksandH1();
}

h2 {
  @include QuicksandH2();
}

h3, button, .register__label {
  @include MonserratH3();
}

span, router-link, input {
  @include MonserratSpan();
}

.bottom-menu, .bottom-cart, .header {
  &__logo {
    display: flex;
    align-items: center;
    margin-right: auto;

    &__img {
      height: 4vh;
    }

    &__text-img {
      height: 1.37vh;
      margin-left: 0.9vw;
    }
  }
}

input {
  height: 44px;
  padding: 0 0 5px 13px;

  background: #FFFFFF;

  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 4px;

  font-weight: normal;
  font-size: 14px;
  line-height: 129%;

  color: $darkShade75;
}
.search-form, .register {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-login .button-register{
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2vh;
}
.button-login {
  height: 3vh;
  position: relative;
  padding: 0 1.2vw;
  background-color: #FFFFFF;
  color: $purple;
  border: 2px solid #8BA4F9;
}
