@import "../style";

.vdp-datepicker {
  width: 100% !important;
  margin-top: 21px;
  @include QuicksandH2();
  &__calendar {
    width: 100% !important;
    border: none !important;
  }
  .day__month_btn {
    @include QuicksandH2();
  }
  .prev:after, .next:after {
    border: none !important;
  }
  .prev, .next {
    width: 17px !important;
    height: 17px !important;
    background-image: url("/src/assets/arrow_forward.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .prev {
    margin-left: 24px;
    transform: rotate(180deg);
  }
  .day__month_btn {
    width: 74% !important;
  }
  .day-header {
    margin-top: 32px !important;
    font-weight: bold !important;
  }
  &__calendar > div {
    margin: 0 21px !important;
  }
  .cell {
    padding: 0 !important;
    font-size: 12px!important;
  }
}
.datarange {
  position: relative;
  &__calendar {
    width: 320px;
    height: 365px;
    position: absolute;
    top: 70px;
    z-index: 1;

    background-color: #ffff;
    border: 1px solid $darkShade25;
    border-radius: 5px;
  }
}
.calendar__buttons {
  display: flex;
  margin-top: 20px;
  padding: 0 17px;
  .cancel, .apply {
    border: none;
    background: transparent;
  }
  .apply {
    margin-left: auto;
    color: $purple;
  }
  .cancel {
    color: $darkShade50;
  }
}
